<h1>{{message}}<h1>
<h1 ><a href="#" onclick="rating();"> Rate Movies</a></h1>
<h1 ><a href="#" onclick="getRecom('{{recomm}}');"> Get Recommendation</a></h1> 
<div>
	<div class="range">
	  <input type="range" min="1" max="3" steps="1" value="1" id="val">
	</div>

	<ul class="range-labels">
	  <li class="active selected">dissimilar</li>
	  <li>mixed</li>
	  <li>similar</li>
	</ul>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</div>
<script type="text/javascript">
			  var sheet = document.createElement('style'),  
			  $rangeInput = $('.range input'),
			  prefs = ['webkit-slider-runnable-track', 'moz-range-track', 'ms-track'];

			document.body.appendChild(sheet);

			var getTrackStyle = function (el) {  
			  var curVal = el.value,
			      val = (curVal - 1) * 0/*16.666666667*/,
			      style = '';
			  
			  // Set active label
			  $('.range-labels li').removeClass('active selected');
			  
			  var curLabel = $('.range-labels').find('li:nth-child(' + curVal + ')');
			  
			  curLabel.addClass('active selected');
			  //curLabel.prevAll().addClass('selected');
			  
			  // Change background gradient
			  /*for (var i = 0; i < prefs.length; i++) {
			    style += '.range {background: linear-gradient(to right, #37adbf 0%, #37adbf ' + val + '%, #fff ' + val + '%, #fff 100%)}';
			    style += '.range input::-' + prefs[i] + '{background: linear-gradient(to right, #37adbf 0%, #37adbf ' + val + '%, #b2b2b2 ' + val + '%, #b2b2b2 100%)}';
			  }*/

			  return style;
			}

			$rangeInput.on('input', function () {
				console.log("working");
			  sheet.textContent = getTrackStyle(this);
			});

			// Change input value on label click
			$('.range-labels li').on('click', function () {
			  var index = $(this).index();
			  
			  $rangeInput.val(index + 1).trigger('input');
			  
			});
</script>
