<h1> {{title}} </h1>
<form action="javascript:addrating();" method="get">
        <fieldset>
            <label for="rating">Rating:</label>
            <input type="number" min="0" max="5" step="0.1" id="rating" name="rating" placeholder="enter the rating you want to give to movie" />
            <input type="submit" value="Submit" onclick=""/>

        </fieldset>
</form>