    <h1> register </h1>
<form action="javascript:adduser();" method="get">
            <label for="name">name :</label>
            <input type="text" id="name" name="name" placeholder="enter your name" autofocus="on"/>
            <br>

            <label for="email">e-mail :</label>
            <input type="email" id="email" name="email" placeholder="enter your email id" />
            <br>

            <label for="no">contact no :</label>
            <input type="tel" id="no" name="no" placeholder="enter your contact no" />
            <br>

            <input type="submit" value="let the recommendation begin" onclick=""/>
</form>
<h1>{{message}}</h1>